<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row" th:include="index :: banner">

	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel"
				th:include="/subscriptions/subscriptions :: sub-menu"></div>

			<div class="panel" th:include="/subscriptions/subscriptions :: desc"></div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Seznam událostí</h4>
				<table class="large-12">
					<thead>
						<tr>
							<th>Kód</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="publisher : ${publishers}">
							<td th:text="${publisher}">Publisher</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<footer class="row" th:include="index :: footer"> </footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
