<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row" th:include="index :: banner">

	</div>




	<div class="row">
		<div class="large-3 columns">
			<div class="panel" th:fragment="sub-menu">
				<h4>Odběry</h4>
				<ul class="no-bullet">
					<li><a th:href="@{/odbery/prihlaseni}">Přihlásit odběr</a></li>
					<li class="divider"></li>
					<li><a th:href="@{/odbery/prehled}">Přihlášené odběry</a></li>
					<li><a th:href="@{/odbery/udalosti}">Přehled událostí</a></li>
				</ul>
			</div>

			<div class="panel" th:fragment="desc">
				<h5 class="subheader">Události</h5>
				<p class="">Události jsou zdroje možných zpráv a upozornění. Je
					možné se přihlásit k odběru událostí s vybraným způsobem
					upozornění. Momentálně jsou podporovány upozornění přes email a
					sms. Pro správné fungování musíte mít vyplněný příslušný kontakt v
					profilu.</p>
			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Seznam skupin</h4>
				<table>
					<thead>
						<tr>
							<th>Skupina</th>
							<th>Kód</th>
							<th>Typ</th>
							<th>Počet uživatelů</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="subscription : ${userSubscriptions}">
							<td th:text="${subscription}">Name</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>



	<footer class="row" th:include="index :: footer"></footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
