<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- Appender for logging to console -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <!-- https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/EnhancedPatternLayout.html -->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n"/>
        </layout>
    </appender>
    
    <logger name="org.springframework">
        <!-- Print only messages of level warn or above in the package org.springframework -->
        <level value="info"/> 
    </logger>
    
    <logger name="org.hibernate">
        <!-- Print only messages of level warn or above in the package org.hibernate -->
        <level value="debug"/> 
    </logger>

    <logger name="org.jboss">
        <!-- Print only messages of level warn or above in the package org.jboss -->
        <level value="warn"/> 
    </logger>

    <!-- Root logger -->
    <root>
        <level value="TRACE" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
