<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CEP: City Emergency Portal</title>
<link rel="stylesheet" th:href="@{/css/app.css}" />
<script th:src="@{/bower_components/modernizr/modernizr.js}"></script>
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row" th:fragment="banner">
		<div class="large-12 columns"><div class="panel"><h1>City Emergency Portal</h1></div></div>
	</div>



	<div class="row">

		<div class="large-12 columns">
			<div class="panel">
				
				<p>Vítejte na stránkách městského krizového portálu. Na portálu
					jsou nasazeny čtyři procesy souvysející s krizovým řízením v malých
					obcích.</p>

				<h3>Svolání krizového štábu</h3>
				<p>Proces automatizuje svolání krizového štábu obce. Při
					spuštění vyzve starostu, aby zadal informace o času a místě setkání
					krizového štábu. Poté proces rozešle svolávací sms členům krizového
					štábu</p>
				<p>Po uplynutí definované doby (5 min) proces zkontroluje, zda
					obdržel od členů štábu odpověď. Těm členům, kteří neodpověděli na
					svolávací zprávu odešle novou sms. Takto to proces opakuje dokud
					neodpoví všichni členové nebo se nepřekročí určitý počet opakování.
					Na konci zorbrazí proces starostovi přehled odeslaných zpráv.</p>

				<p>Jako členy krizového štábu proces identifikuje uživatele a
					kontakty přihlášené k odběru události "Svolání krizového štábu" s
					typem kontaktu SMS.</p>


				<h3>Informování obyvatel</h3>
				<p>Proces zajišťuje informování obyvatel obce. Využívá k tomu
					tři informační kanály: rozhlas, sms a e-mail. Nabízí starostovi
					možnost vybrat si libovolnou kombinaci z nabízených kanálů</p>
				<p>Při výběru sms je starosta vyzván k vložení sms zprávy.
					Adresáty jsou uživatelé a kontakty přihlášené k odběru události
					"Informace".</p>
				<p>Při výběru e-mailu je starosta vyzván k vložení e-mailové
					zprávy. Adresáty jsou uživatelé a kontakty přihlášené k odběru
					události "Informace".</p>
				<p>Při výběru rozhlasu je starosta vyzván k nahrání rozhlasové
					zprávy.</p>
				<p>O případném selhání odeslání informace je starosta
					informován.</p>


				<h3>Varování a informování obyvatel</h3>
				<p>Proces slouží k varování obyvatel v případě mimořádné
					události. Vychází z krizového plánu HZS JM kraje. Proces spoustí
					sirénu a zároveň vyzve starostu k vložení rozhlasové zprávy, kterou
					odešle do rozhlasu.</p>
				<p>Zároveň vyzve starostu k vložení sms zprávy, kterou rozešle
					odběratelům události "Varování škol, samot a dalších subjektů".
					Starosta může zároveň zvolit, zda má proces vyžadovat potvrzení
					přijetí, a pokud jí nedostane, odeslat zprávu znovu. Rozesláním
					informační sms starosta splní povinnost uloženou mu krizovým
					plánem.</p>

				<h3>Výstrahy</h3>
				<p>Proces Výstrahy pravidelně kontroluje zveřejněná
					meteorologická varování a vyhodnocuje je. Poku zjistí, že se úroveň
					výstrah změnila, informuje o tom uživatele a kontakty přihlášené k
					odběru události "Varování ČHMÚ". Poté nabídne starostovi možnost
					informovat obyvatele o změně. Pokud tak učiní, jsou informováni
					uživatelé a kontakty přihlášené k odběru události ""Varování pro
					občany".</p>
			</div>
		</div>

	</div>



	<footer class="row" th:fragment="footer">
		<div class="large-12 columns">
			<hr />
			<div class="row">

				<div class="large-6 columns">
					<p>CEP @ FI MUNI CZ</p>
				</div>


			</div>
		</div>
		<div id="loginModal" class="reveal-modal remove-whitespace"
			th:attr="data-reveal=a">
			<div class="row">
				<div class="large-6 columns auth-plain">
					<div class="signup-panel left-solid">
						<p class="welcome">Registrovaní uživatelé</p>
						<form action="#" th:action="@{/login-submit}" method="post">
							<div class="row collapse">
								<div class="small-2  columns">
									<span class="prefix"><i class="fi-torso-female"></i></span>
								</div>
								<div class="small-10 columns">
									<input type="text" name="username" id="username"
										placeholder="username" />
								</div>
							</div>
							<div class="row collapse">
								<div class="small-2 columns ">
									<span class="prefix"><i class="fi-lock"></i></span>
								</div>
								<div class="small-10 columns ">
									<input type="password" name="password" id="password"
										placeholder="password" />
								</div>
							</div>
							<input class="small button" type="submit" name="submit"
								value="Přihlásit se" />
						</form>
					</div>
				</div>

				<div class="large-6 columns auth-plain">
					<div class="signup-panel newusers">
						<p class="welcome">Neregistrován?</p>
						<p>By creating an account with us, you will be able to move
							through the checkout process faster, view and track your orders,
							and more.</p>
						<br> <a th:href="@{/signup}" class="button ">Zaregistrovat
							se</a></br>
					</div>
				</div>

			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</footer>



	<div th:fragment="foot-scripts">
		<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/bower_components/foundation/js/foundation.min.js}"></script>
		<script th:src="@{/js/app.js}"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				if (window.location.hash.indexOf("login") > -1) {
					$('#loginModal').foundation('reveal', 'open');
				}
			});
		</script>
	</div>
</body>
</html>
