<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="index :: menu"></div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:include="groups/groups :: sub-menu">

			</div>

			<div class="panel" th:include="groups/groups :: desc"></div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Přidat novou skupinu</h4>
			</div>
			<form action="#" th:action="@{/skupiny/pridat-submit}" method="post"  th:object="${group}">
				<div class="row">
					<div class="large-6 columns">
						<div class="panel">
							<h5>Základní informace</h5>
								<label for="name">Název</label><input type="text" th:field="*{name}"  name="name" /> 
								<label for="code">Kód</label><input type="text" th:field="*{code}"  name="code" /> 
								<label for="type">Typ</label><input type="text" th:field="*{type}" name="type" /> 
						</div>
					</div>
	
					<div class="large-6 columns">
						<div class="panel">
							<h5>Dodatečná nastavení</h5>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<div class="panel center">
							<input class="small button" type="reset" name="submit" value="Reset" />
							<input class="small button" type="submit" name="submit" value="Odeslat" />
						</div>
					</div>
				</div>
			</form>
			
		</div>

	</div>
	<footer class="row" th:include="index :: footer"> </footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
