<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="index :: menu"></div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:fragment="sub-menu">
				<h4>Skupiny</h4>
				<ul>
					<li><a th:href="@{/skupiny}">Přehled skupin</a></li>
					<li><a th:href="@{/skupiny/pridat}">Přidat skupinu</a></li>
				</ul>
			</div>

			<div class="panel" th:fragment="desc">
				<h4>Skupiny</h4>
				<p>Skupiny slouží pro rozlišení přístupových práv uživatelů k
					jednotlivým sekcím portálu a k definují role v implementovaných
					procesech.</p>
			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Seznam skupin</h4>
				<table>
					<thead>
						<tr>
							<th>Skupina</th>
							<th>Kód</th>
							<th>Typ</th>
							<th>Počet uživatelů</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="group : ${groups}">
							<td th:text="${group.name}">Name</td>
							<td th:text="${group.code}">Code</td>
							<td th:text="${group.type}">Type</td>
							<td th:text="${group.users.size()}">Members</td>
							<td><a th:href="@{/skupiny/clenove(id=${group.id})}">Členové</a> <a th:href="@{/skupiny/odebrat(id=${group.id})}">Odstranit</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<footer class="row" th:include="index :: footer"> </footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
