<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu">	</div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:fragment="sub-menu">
				<h4>Chyba</h4>

			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4 th:text="${process}">Process</h4>
				<div th:text="${description}">
					Error message description.
				</div>
			</div>
		</div>

	</div>

	<footer class="row" th:include="index :: footer"></footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
