<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:fragment="sub-menu">
				<h4></h4>

			</div>

			<div class="panel" th:fragment="desc">
				<h5>Popis</h5>

			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Process name</h4>
				<ul>
					<li th:each="task : ${tasks}"><a
						th:href="@{${'/proces/task/'+#strings.substringBefore(task.processDefinitionId, ':')+'/'+task.id}}"
						th:text="${task.name}">Task name</a></li>
				</ul>
			</div>
		</div>

	</div>



	<footer class="row" th:include="index :: footer"></footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
