<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="index :: menu"></div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel">
				<h4>Uživatelé</h4>
				<ul>
				<li><a th:href="@{/uzivatele}">Přehled uživatelů</a></li>
				<li><a th:href="@{/uzivatele/pridat}">Přidat uživatele</a></li>
				</ul>
			</div>

			<div class="panel">
				<img th:src="@{/img/500x500.gif}" />
			</div>

			<div class="panel">
				<h4>Header</h4>
				<p>Fusce ullamcorper mauris in eros dignissim molestie posuere
					felis blandit. Aliquam erat volutpat. Mauris ultricies posuere
					vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue
					euismod dapibus non et eros.</p>
			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Přidat nového uživatele</h4>
			</div>
			<form action="#" th:action="@{/uzivatele/pridat-submit}" method="post">
				<div class="row">
					<div class="large-6 columns">
						<div class="panel">
							<h5>Základní informace</h5>
								<label for="name">Jméno</label> <input type="text" th:value="${firstName}" name="name" /> 
								<label for="surname">Příjmení</label><input type="text" th:value="${lastName}" name="surname" /> 
								<label for="email">Email</label><input type="text" th:value="${email}" name="email" /> 
								<label for="password">Heslo</label><input type="password" th:value="${password}" name="password" /> 
								<label for="password2">Kontrola hesla</label><input type="password" th:value="${password2}" name="password2" /> 
								<label for="phone">Telefon</label><input type="text" th:value="${phone}" name="phone" />
								
							
						</div>
					</div>
	
					<div class="large-6 columns">
						<div class="panel">
							<h5>Dodatečná nastavení</h5>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<div class="panel center">
							<input class="small button" type="reset" name="submit" value="Reset" />
							<input class="small button" type="submit" name="submit" value="Odeslat" />
						</div>
					</div>
				</div>
			</form>
			
		</div>

	</div>



	<footer class="row">
		<div class="large-12 columns">
			<hr />
			<div class="row">

				<div class="large-6 columns">
					<p>CEP @ FI MUNI CZ</p>
				</div>

				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>

			</div>
		</div>
	</footer>

	<div id="loginModal" class="reveal-modal remove-whitespace"
		th:attr="data-reveal=a">
		<div class="row">
			<div class="large-6 columns auth-plain">
				<div class="signup-panel left-solid">
					<p class="welcome">Registrovaní uživatelé</p>
					<form>
						<div class="row collapse">
							<div class="small-2  columns">
								<span class="prefix"><i class="fi-torso-female"></i></span>
							</div>
							<div class="small-10 columns">
								<input type="text" placeholder="username" />
							</div>
						</div>
						<div class="row collapse">
							<div class="small-2 columns ">
								<span class="prefix"><i class="fi-lock"></i></span>
							</div>
							<div class="small-10 columns ">
								<input type="text" placeholder="password" />
							</div>
						</div>
					</form>
					<a href="#" class="button ">Přihlásit se </a>
				</div>
			</div>

			<div class="large-6 columns auth-plain">
				<div class="signup-panel newusers">
					<p class="welcome">Neregitrován?</p>
					<p>By creating an account with us, you will be able to move
						through the checkout process faster, view and track your orders,
						and more.</p>
					<br> <a href="#" class="button ">Zaregistrovat se</a></br>
				</div>
			</div>

		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
