<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row" th:include="index :: banner">

	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:include="/users/users :: sub-menu"></div>

			<div class="panel" th:include="/users/users :: desc"></div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Profil uživatele</h4>
			</div>
			<div class="row">
				<div class="large-6 columns">
					<div class="panel">
						<h5>Základní informace</h5>
						<div class="row">
							<div class="column medium-3">
								<label for="name">Jméno</label>
							</div>
							<div class="column medium-9">
								<span th:text="${user.firstName}" name="name">Name</span>
							</div>
						</div>
						<div class="row">
							<div class="column medium-3">
								<label for="surname">Příjmení</label>
							</div>
							<div class="column medium-9">
								<span th:text="${user.lastName}" name="surname">Surname</span>
							</div>
						</div>
						<div class="row">
							<div class="column medium-3">
								<label for="email">Email</label>
							</div>
							<div class="column medium-9">
								<span th:text="${user.mail}" name="email">Email</span>
							</div>
						</div>
						<div class="row">
							<div class="column medium-3">
								<label for="phone">Telefon</label>
							</div>
							<div class="column medium-9">
								<span th:text="${user.phoneNumber}" name="phone">Phone</span>
							</div>
						</div>
					</div>
				</div>

				<div class="large-6 columns">
					<div class="panel">
						<h5>Dodatečné informace</h5>
						<h6 class="subheader">Skupiny</h6>
						<table>
							<thead>
								<tr>
									<th>Skupina</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="group : ${groups}">
									<td th:text="${group.name}">Name</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>

	</div>
	<footer class="row" th:include="index :: footer"></footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
