<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:fragment="sub-menu">
				<h4>Uživatelé</h4>
				<ul>
				<li><a th:href="@{/uzivatele}">Přehled uživatelů</a></li>
				<li><a th:href="@{/uzivatele/pridat}">Přidat uživatele</a></li>
				</ul>
			</div>

			<div class="panel" th:fragment="desc">
				<h4>Header</h4>
				<p>Fusce ullamcorper mauris in eros dignissim molestie posuere
					felis blandit. Aliquam erat volutpat. Mauris ultricies posuere
					vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue
					euismod dapibus non et eros.</p>
			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4>Seznam registrovaných uživatelů</h4>
				<table>
					<thead>
						<tr>
							<th colspan="2">Uživatel</th>
							<th>Telefon</th>
							<th>E-mail</th>
							<th>Akce</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.firstName}">Name</td>
							<td th:text="${user.lastName}">Surname</td>
							<td th:text="${user.phoneNumber}">Phone</td>
							<td th:text="${user.email}">Email</td>
							<td>
								<a th:href="@{/uzivatele/detail(id=${user.id})}">Profil</a> 
								<a th:href="@{/uzivatele/edit(id=${user.id})}">Editace</a> 
								<a th:href="@{/uzivatele/delete(id=${user.id})}">Smazat</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>



	<footer class="row" th:include="index :: footer"></footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
