<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row">
		<div class="large-12 columns">
			<img th:src="@{/img/1600x500.gif}" /><br /> <br />
		</div>
	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:include="history/history :: sub-menu"></div>

			<div class="panel">
				<h4>Historie</h4>
				<p>Přehled detailů vybrané instance procesu.</p>
			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4 th:text="${processName}">Proces</h4>

				<div th:if="${process}!=null">
					<div class="row">
						<div class="small-2 column">
							<label>Uživatel</label>
						</div>
						<div class="small-4 column"
							th:text="${process.startUserId==null?'-':process.startUserId}"></div>
						<div class="small-2 column">
							<label>Jméno</label>
						</div>
						<div class="small-4 column"
							th:text="${process.name==null?'-':process.name}"></div>
					</div>

					<div class="row">
						<div class="small-2 column">
							<label>Spuštěno</label>
						</div>
						<div class="small-4 column"
							th:text="${#dates.format(process.startTime, 'dd.MM.yyyy HH:mm:ss')}"></div>

						<div class="small-2 column">
							<label>Skončeno</label>
						</div>
						<div class="small-4 column">
							<span
								th:text="${process.endTime} ? ${#dates.format(process.endTime, 'dd.MM.yyyy HH:mm:ss')} : ${'-'}"></span>
						</div>
					</div>

					<div class="row">
						<div class="small-2 column">
							<label>Trvání</label>
						</div>
						<div class="small-4 column end"
							th:text="${process.durationInMillis} ? ${process.durationInMillis + ' ms'} : ${'-'}"></div>

						<div class="small-2 column">
							<label>Nadřazený proces</label>
						</div>
						<div class="small-4 column"
							th:text="${process.superProcessInstanceId}"></div>
					</div>

					<div class="row">
						<div class="small-2 column">
							<label>Start</label>
						</div>
						<div class="small-4 column" th:text="${startActivity!=null} ? ${startActivity.activityName} : ${'-'}"></div>

						<div class="small-2 column">
							<label>Konečný stav</label>
						</div>
						<div class="small-4 column" th:text="${endActivity!=null} ? ${endActivity.activityName} : ${'-'}"></div>
					</div>

					<div class="row">
						<div class="small-2 column">
							<label>Proces</label>
						</div>
						<div class="small-4 column"
							th:text="${processName}"></div>

						<div class="small-2 column">
							<label>Instance ID</label>
						</div>
						<div class="small-4 column" th:text="${process.processInstanceId}"></div>
					</div>

					<h5>Proměnné</h5>
					<div>
						<div class="row" th:each="variable : ${process.variableInstances}">
							<div class="column medium-1" th:text="${variable.id}"></div>
							<div class="column medium-3" th:text="${variable.variableName}"></div>
							<div class="column medium-8" th:utext="${variable.value}"></div>
						</div>
					</div>

					<h5>Historie</h5>
					<div>
						<div class="row" th:each="instance : ${process.activitiInstances}">
							<div class="column medium-1" th:text="${instance.id}"></div>
							<div class="column medium-2"
								th:text="${#dates.format(instance.startTime, 'dd.MM.yyyy HH:mm:ss')}"></div>
							<div class="column medium-2" th:if="${instance.endTime != null}"
								th:text="${#dates.format(instance.endTime, 'dd.MM.yyyy HH:mm:ss')}"></div>
							<div class="column medium-7" th:text="${instance.activityName}"></div>
						</div>
					</div>




				</div>

			</div>

			<div></div>

		</div>

	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h4>Diagram procesu instance</h4>
				<a th:href="@{${'/historie/diagram/'+processKey+'/'+process.id}}"><img
					alt="process diagram"
					th:src="@{${'/historie/diagram/'+processKey+'/'+process.id}}"></img></a>
			</div>
		</div>
	</div>
	<footer class="row" th:include="index :: footer"> </footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
