<!doctype html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
	<div class="sticky" th:include="snippets/menu :: menu"></div>




	<div class="row" th:include="index :: banner">

	</div>




	<div class="row">

		<div class="large-3 columns">
			<div class="panel" th:include="history/history :: sub-menu"></div>

			<div class="panel">
				<h4>Historie</h4>
				<p>Přehled všech instancí vybraného procesu.</p>
			</div>
		</div>

		<div class="large-9 columns">
			<div class="panel">
				<h4 th:text="${processName}">Procesy</h4>
			</div>
			<div class="panel">
				<h5>Statistika koncových stavů</h5>
				<div class="row">
					<div class="column medium-6" th:each="count : ${endStatistic}">
						<div class="column medium-8" th:text="${count.key}">end
							event</div>
						<div class="column medium-4" th:text="${count.value}">occurence</div>
					</div>
				</div>
				<div class="medium-12">
					Z celkem <span th:text="${endStatisticTotal}">count</span>
					spuštění.
				</div>
			</div>

			<div class="panel">
				<div class="large-12 row">
					<div class="column medium-5 small-6"><h5>Spuštěno</h5></div>
					<div class="column medium-3 small-6"><h5>Uživatel</h5></div>
					<div class="column medium-2 small-6"><h5>Stav</h5></div>
					<div class="column medium-2 small-6"></div>
				</div>
				<div class="large-12 row" th:each="processInstance : ${processInstances}">
					<div class="column medium-5 small-6" th:text="${#dates.format(processInstance.startTime, 'dd.MM.yyyy HH:mm:ss')}">Spuštěno</div>
					<div class="column medium-3 small-6" th:text="${processInstance.startUserId}?${processInstance.startUserId}:${' - '}">Uživatel</div>
					<div class="column medium-2 small-6" th:text="${processInstance.endTime}?${'Dokončená'}:${'Běží'}">Stav</div>
					<div class="column medium-2 small-6"><a th:href="@{${'/historie/instance/'+processKey+'/'+processInstance.processInstanceId}}">Detail...</a></div>
				</div>
			</div>

		</div>

	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				<h4>Diagram procesu</h4>
				<a th:href="@{${'/historie/diagram/'+processKey}}"><img
					alt="process diagram"
					th:src="@{${'/historie/diagram/'+processKey}}"></img></a>
			</div>
		</div>
	</div>

	<footer class="row" th:include="index :: footer"> </footer>

	<div th:include="index :: foot-scripts"></div>
</body>
</html>
